<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
    <link rel='stylesheet' href='/stylesheets/books.css' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/book-view.css">
    <link rel="stylesheet" href="/stylesheets/load-page.css">
  </head>
  <body>
    <div class="wallpaper"></div>
    <div class="sidebar-control">
      ☰
    </div>

    <div id="content">
      <% include ../partials/navigation.ejs %>
      <% include ../partials/load-page.ejs %>
      <% include ../partials/book-view.ejs %>
      
      <div id="sidebar">
        <div class="sidebar-header">
          <h3>Фiльтрацiя</h3>
        </div>
        <ul class="sidebar-list-content">
          <li class="sidebar-list-element active">
            <span class="dropdown-toggle">Жанри</span>
            <ul class="dropdown-list">
              <% allGenres.forEach(function(item) { %>
                <li>
                  <label>
                    <input type="checkbox" name="genreRadio" value="<%= item.id %>">
                    <span><%= item.title %></span>
                  </label>
                </li>
              <% }); %>
            </ul>
          </li>

          <li class="sidebar-list-element active">
            <span class="dropdown-toggle">Автори</span>
            <ul class="dropdown-list">
              <% allWriters.forEach(function(item) { %>
              <li>
                <label>
                  <input type="checkbox" name="writerRadio" value="<%= item.id %>">
                  <span><%= item.name %>
                  </span>
                </label>
              </li>
              <% }); %>
            </ul>
          </li>
        </ul>
        <button id="sidebar-filter-btn">Обрати</button>
      </div>

      <span class="black"></span>
      <div class="cmn-row">
        <div class="index-content">
          <% if (books.length == 0) { %>
            <span class="index-title">Немає книг...</span>
          <% } else { %>
            <span class="index-title">Усi книги</span>
            <div class="index-dish-card-menu">
              <% books.forEach(function(item, index) { %>
                <div class="index-dish-card" data-writers="<%= item.writersId %>" data-genres="<%= item.genresId %>">
                  <img class="index-card-img" src="<%= item.pictureUrl %>">
                  <div class="card-name"><%= item.title %></div>
                  <div class="index-card-price-and-button">
                    <span data-id="<%= item.id %>" class="card-button">Хочу</span>
                  </div>
                </div>
              <% }); %>
            </div> 
          <% } %>
        </div>
      </div>
      
      <% include ../partials/message.ejs %>
    </div>
  
    <script>
      $(".sidebar-control").click(function() {
        $("#sidebar").animate({width: "toggle"});
      });
      $(".dropdown-toggle").click(function() {
        $parent = $(this).parent();
        $parent.find(".dropdown-list").animate({height: "toggle"});
        if ($parent.hasClass("shown")) {
          $parent.removeClass("shown");
        } else {
          $parent.addClass("shown");
        }
      });
    </script>
    
    <script src="/scripts/message.js"></script>
    <script src="/scripts/cookie-control.js"></script>
    <script src="/scripts/books.js"></script>

  </body>
</html>