<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
    <link rel='stylesheet' href='/stylesheets/books.css' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/book-view.css">
    <link rel="stylesheet" href="/stylesheets/load-page.css">
    <style>
      .index-dish-card, .index-card-img {
        width: 10vw;
      }

      .cmn-text2 {
        width: 12vw;
        font-size: 1.8vw;
        margin-left: 1vw;
      } 

      .card-name {
        font-size: 1.7vw;
      }
    </style>
  </head>
  <body>
    <div class="wallpaper"></div>

    <div id="content">
      <% include ../partials/navigation.ejs %>
      <% include ../partials/load-page.ejs %>
      <% include ../partials/book-view.ejs %>

      <span class="black"></span>
      <div class="cmn-row">
        <div class="index-content">
          <span class="index-title">Мiй кабiнет</span>

          <span class="cmn-text">Моє П.I.Б: <%= user.name %></span>
          <span class="cmn-text">Мiй email: <%= user.email %></span>
          <span class="cmn-text">Мiй номер телефону: <%= user.phoneNumber %></span>
          <span class="cmn-text">Моя дата народження: <%= user.bornDate.replace(/-/g, ' ') %></span>
        </div>
        <% if (requests.length) { %>
          <span class="cmn-headline cmn-center">Хочу прочитати: </span>
          <div class="index-dish-card-menu">
            <% requests.forEach(function(item, index) { %>
              <div class="index-dish-card" data-writers="<%= item.writersId %>" data-genres="<%= item.genresId %>">
                <img class="index-card-img" src="<%= item.pictureUrl %>">
                <div class="card-name"><%= item.bookTitle %></div>
              </div>
              <% let recieveTime = item.dateOfRecieve.replace(/T|-/g, " "); %>
              <div class="cmn-text2">
                Заберу в бiблiотецi <br> 
                <%= recieveTime.substr(0, 11) %>
                <br>
                <%= "o " + recieveTime.substr(11) %>
              </div>
            <% }); %>
          </div>
        <% } %>
        <% if (active.length) { %>
          <span class="cmn-headline cmn-center">Зараз читаю:</span>
          <div class="index-dish-card-menu">
            <% active.forEach(function(item, index) { %>
              <div class="index-dish-card" data-writers="<%= item.writersId %>" data-genres="<%= item.genresId %>">
                <img class="index-card-img" src="<%= item.pictureUrl %>">
                <div class="card-name"><%= item.bookTitle %></div>
              </div>
              <% 
              let 
                startDate = Date.parse(item.dateOfAccept),
                curDate = new Date().toISOString().slice(0, 10);

              curDate = Date.parse(curDate);

              let 
                deltaSeconds = (curDate - startDate) / 1000,
                deltaHours = deltaSeconds / 3600,
                days = parseInt(deltaHours / 24); %>

              <div class="cmn-text2"> 
                <%  if (days % 10 >= 5 || days % 100 >= 5 && days % 100 <= 20 || !(days % 10)) { %>
                      Читаю <%= days %> днiв
                <%  } else if (days % 10 == 1) { %>
                      Читаю <%= days %> день
                <%  } else { %>
                      Читаю <%= days %> днi
                <%  } %>
              </div>
            <% }); %>
          </div>
        <% } %>
        <% if (archive.length) { %>
          <span class="cmn-headline cmn-center">Прочитав:</span>
          <div class="index-dish-card-menu">
            <% archive.forEach(function(item, index) { %>
              <div class="index-dish-card" data-writers="<%= item.writersId %>" data-genres="<%= item.genresId %>">
                <img class="index-card-img" src="<%= item.pictureUrl %>">
                <div class="card-name"><%= item.bookTitle %></div>
              </div>
              <%  let 
                    startDate = Date.parse(item.dateOfAccept),
                    endDate = Date.parse(item.dateOfEnd);

                  let 
                    deltaSeconds = (endDate - startDate) / 1000,
                    deltaHours = deltaSeconds / 3600,
                    days = parseInt(deltaHours / 24); %>

              <div class="cmn-text2">
                Читав з <br> <%= item.dateOfAccept.replace(/-/g, " ") %> 
                <br> по <br>
                <%= item.dateOfEnd.replace(/-/g, " ") %>
              </div>
            <% }); %>
          </div>
        <% } %>
      </div>
      
      <% include ../partials/message.ejs %>
    </div>
    
    <script src="/scripts/message.js"></script>
    <script src="/scripts/cookie-control.js"></script>
    <script src="/scripts/books.js"></script>

  </body>
</html>